.Some{
    font-size: medium;
}
.abc{
    margin-left: 150px;
   
}
.abc1{
    margin-left: 240px;
}
.a{
    font-size: xx-large;
    font-weight: 900;
    align-self: top;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 160px;
}
.a1{
    font-size: xx-large;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-self: top;
    margin-left: 130px;
}